.tabs a, body {
background-color: #EEE;
}

.tabs a, .tabs-content {
box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}

body {
font-family: sans-serif;
padding: 50px;
}

a {
text-decoration: none;
color: inherit;
}

.tabs li:nth-child(1){
  margin-left: 45%;
}

.tabs li, ul.tabs {
padding: 0;
list-style: none;
}

.tabs li {
float: left;
display: inline;
}

.tabs:after {
display: table;
content: ' ';
clear: both;
}

.tabs a {
display: inline-block;
padding: 10px 15px;
}

.tabs .active a, .tabs-content {
background-color: #fff;
}

.tabs-content {
position: relative;
z-index: 3;
padding: 20px;
margin-bottom: 20px;
}

.tab-content {
display: none;
}

.tab-content.active {
display: block;
}

.fade {
opacity: 0;
transition: opacity .3s;
}

.fade.in {
opacity: 1;
}
